<div id="<%= dom_id tweet %>">
  <div class="container border border-primary rounded p-3">
    <strong>
      <%= tweet.name %>
    </strong><br>
    @<%= tweet.username %>
    <p class="mt-2">
      <%= tweet.body %>
    </p>
  </div>
</div>
